*{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --white : #f9f9fb;
    --dark : #161214;
    --secondary : #c0b9c3;
    --secondary-tr : #c0b9c38e;
    --primary : #5a4bb5;
    --primary-dark : #3c23b7;
}

.tc-primary-dark{
    color: var(--primary-dark);
}

.presto-nav {
    background-color: transparent;
    transition: all 0.8s;
    backdrop-filter: blur(5px);
    padding: 0px;

 
}

.presto-nav .nav-link {
    color: var(--white);
    transition: all 0.8s;
    font-weight: 600;
    border-bottom: 3px solid transparent;
    margin-left: 8px;
}

.presto-nav .nav-link:hover {
    color: var(--primary);
    transition: all 0.8s;
    border-bottom: 3px solid var(--primary);
    transform: scale(1.1);
}

.presto-nav .navbar-brand{
    color: var(--primary);
    transition: all 0.8s;
}

.presto-nav .p-nav-scrolled {
    background-color: var(--secondary-tr);
    backdrop-filter: blur(15px);
}

.presto-nav .p-nav-scrolled .nav-link {
    color: var(--white);
}

.btn-primary1{
    background-color: var(--primary) ;
    color: var(--white);
    margin-left: 3px;
}

.btn-primary1:hover{
    background-color: var(--primary-dark);
    color: var(--white);

}

#p-nav-btn{
    transition: all 0.35s;
}

#p-nav-btn:focus{
    box-shadow: none;
}

#p-nav-btn.open{
    transform: rotate(90deg);
}

.masthead1 {
    background-image: url('./img/foto ecommerce (3).jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 800px) {
    .masthead1 {
      background-image: none;
      height: 30vh;
    }
    .presto-nav .nav-link {
        color: var(--primary-dark);
    }
  }

.p-card-border {
    border-radius: 25px;
    -webkit-box-shadow: 2px 1px 26px -4px rgba(0, 0, 0, 0.226); 
    box-shadow: 2px 1px 26px -4px rgba(0, 0, 0, 0.239);
    transition: all 0.3s;

 }

 .p-card-border:hover {
    border-radius: 25px;
    -webkit-box-shadow: 2px 1px 26px -4px rgba(0, 0, 0, 0.589); 
    box-shadow: 2px 1px 26px -4px rgba(0, 0, 0, 0.774);

 }

 .glide__arrow {
     background-color: var(--primary);
     border: none;
 }

 .glide__arrow:hover{
    background-color: var(--primary-dark);
}

.masthead2 {
    background-image: url('https://images.unsplash.com/photo-1591030434469-3d78c7b17820?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=889&q=80');
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 50px;
}

.btn-like {
    background-color: rgba(255, 255, 255, 0.884);
    color: var(--primary-dark);
    font-size: large;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: all 0.5s;
    opacity: 0;
    border-radius: 15px;
    border-color: white;
   
}

.btn-like:hover {
    transition: all 0.5s;
    background-color: var(--secondary);
    color: var(--primary-dark);
    opacity: 1;

}

.btn-like.active {
    opacity: 1;
}

/* Footer  */

ul,li{
    padding:0;
    margin:0;
}
li{
    list-style-type:none;
}



footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footer-col { margin-top:50px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footer-col p { color:#fff; font-size:12px; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footer-col p i { width:20px; color:#999;}

.footer-ul { list-style-type:none;  padding-left:0; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { color:#FFF; padding:10px 0; margin-bottom:0;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
.social-icon {
    width: 30px;
    height: 30px;
    font-size: 15px;
    background-color: blue;
    color: #fff;
    text-align: center;
    margin-right: 10px;
    padding-top: 7px;
    border-radius: 50%;
}
 .footer-social li{
     float:left;
 }
 .linked-in{
     background-color:#007bb6;
 }
 .facebook{
     background-color:#3b5998;
 }
 .twitter{
     background-color:#1da1f2;
 }
 .google{
     background-color:#f63e28;
 }