*{
    font-family: 'Montserrat', sans-serif;
}

:root{
    --white : #f9f9fb;
    --dark : #161214;
    --secondary : #c0b9c3;
    --secondary-tr : #c0b9c354;
    --primary : #5a4bb5;
    --primary-dark : #3c23b7;
}

.presto-nav {
    background-color: transparent;
    transition: all 0.8s;
    backdrop-filter: blur(0px);
    padding: 0px;
 
}

.presto-nav .nav-link {
    color: var(--dark);
    transition: all 0.8s;
}

.presto-nav .navbar-brand{
    color: var(--primary);
    transition: all 0.8s;
}

.presto-nav .p-nav-scrolled {
    background-color: var(--secondary-tr);
    backdrop-filter: blur(10px);
}

.presto-nav .p-nav-scrolled .nav-link {
    color: var(--white);
}









body{
    height: 1800px;
    background-image: url('https://picsum.photos/1920/1080');
}
